<tr>
  <td data-col="avatar">
    <%= link_to book.user do %>
      <%= image_tag book.user.get_profile_image, size: "48x48" %>
    <% end %>
  </td>
  <td data-col="title">
    <%= link_to book.title, book %>
  </td>
  <td data-col="opinion">
    <%= book.body %>
  </td>
  <td data-col="fav">
    <div id="fav-<%= book.id %>">
      <%= render "favorites/btn", book: book %>
    </div>
  </td>
</tr>